## Lighthouse Labs
### W02D1 SQL - BINDER

Instructor: Socorro Dominguez

[Lecture Link](https://downgit.github.io/#/home?url=https://github.com/sedv8808/LighthouseLabs/tree/main/W02D1)

## Exercise

To write to a database:

(You will need the `drinks.sql` file in the same directory as this notebook)

In [6]:
import psycopg2
import pandas as pd

In [7]:
conn = psycopg2.connect("dbname='postgres'")
cur = conn.cursor()
cur.execute("SELECT datname from pg_database")

cur.fetchall()

[('postgres',), ('testdb',), ('template1',), ('template0',)]

In [8]:
cur.execute(open('drinks.sql', 'r').read())  # Uncomment this the first time you run the db

In [9]:
# Example
cur.execute(
"""
SELECT *
FROM orders
LIMIT 5;
""")

response = cur.fetchall()

In [10]:
# raw response
response

[('person 1', '2016-10-16', 'bar 9', 'drink 4', 1),
 ('person 1', '2016-10-16', 'bar 9', 'drink 44', 1),
 ('person 1', '2016-10-22', 'bar 19', 'drink 1', 4),
 ('person 1', '2016-10-22', 'bar 19', 'drink 9', 1),
 ('person 1', '2016-10-22', 'bar 19', 'drink 42', 2)]

* orders(<em><ins>person</ins></em>: string, <em><ins>date</ins></em>: string,  <em><ins>bar</ins></em>: string, <em><ins>drink_id</ins></em>: string, quantity: integer)

An easier way to see the data...

In [11]:
pd.DataFrame(response, columns = ['person', 'date', 'bar', 'drink_id', 'qty'])

     person        date     bar  drink_id  qty
0  person 1  2016-10-16   bar 9   drink 4    1
1  person 1  2016-10-16   bar 9  drink 44    1
2  person 1  2016-10-22  bar 19   drink 1    4
3  person 1  2016-10-22  bar 19   drink 9    1
4  person 1  2016-10-22  bar 19  drink 42    2

In [14]:
# Before doing anything else, let's create a function out
# of the things we're doing above
def execute_query(query_string, return_pandas=True):
    if return_pandas:
        response = pd.read_sql_query(query_string, conn)
    else:
        cur.execute(query_string)
        response = cur.fetchall()
    return response


# Let's try out our function to make sure it does
# the same as what we have above
query = """
SELECT * 
FROM orders 
LIMIT 5;
"""
execute_query(query)

     person        date     bar  drink_id  quantity
0  person 1  2016-10-16   bar 9   drink 4         1
1  person 1  2016-10-16   bar 9  drink 44         1
2  person 1  2016-10-22  bar 19   drink 1         4
3  person 1  2016-10-22  bar 19   drink 9         1
4  person 1  2016-10-22  bar 19  drink 42         2

## Exercise in Groups

### Remember collaboration is key.

Get the bar name and average price of drinks at each bar.
<table style="border: 5px; width: 100%">
 <tr>
    <td><b style="font-size:30px">has_on_menu</b></td>
    <td><b style="font-size:30px">orders</b></td>
    <td><b style="font-size:30px">drink_info</b></td>
 </tr>
 <tr>
    <td style="font-size:20px"><b>drink_id</b>: string</td>
    <td style="font-size:20px"><b>drink_id</b>: string</td>
    <td style="font-size:20px"><b>drink_id</b>: string</td>
 </tr>
 <tr>
    <td style="font-size:20px"><b>bar</b>: string</td>
    <td style="font-size:20px"><b>bar</b>: string</td>
    <td style="font-size:20px"><b>type</b>: string</td>
 </tr>
 <tr>
    <td style="font-size:20px"><b>price</b>: real</td>
    <td style="font-size:20px"><b>person</b>: string</td>
    <td style="font-size:20px"></td>
 </tr>
 <tr>
    <td style="font-size:20px"></td>
    <td style="font-size:20px"><b>date</b>: string</td>
    <td style="font-size:20px"></td>
 </tr>
 <tr>
    <td style="font-size:20px"></td>
    <td style="font-size:20px"><b>quantity</b>: integer</td>
    <td style="font-size:20px"></td>
 </tr>
</table>

## Let's work through some problems

### Question 1:
Get the bar name and average price of each bar

What do you think? What table do we need? What calculation do we need?

In [12]:
'''
query= """
"""

execute_query(query)
'''

'\nquery= """\n"""\n\nexecute_query(query)\n'

### Question 2:
Get the bars with the top 5 average prices.

What do you think? How can we adapt the code we did before?

In [13]:
'''
query= """
"""

execute_query(query)
'''

'\nquery= """\n"""\n\nexecute_query(query)\n'

### Question 3:
Which bar sells the cheapest drink? Which drink and what's the price?

In [14]:
'''
query= """
"""

execute_query(query)
'''

'\nquery= """\n"""\n\nexecute_query(query)\n'

### Question 4:
What is the number of beers sold by each bar?

(If you interpret it to be "sold" as in available for sale, then you need `has_on_menu`; if you interpret "sold" as in a sale was made, then you need `orders`)

Hint: you need two tables here

In [15]:
'''
query= """
"""

execute_query(query)
'''

'\nquery= """\n"""\n\nexecute_query(query)\n'

### Challenge question

For each person, find the bar they visit, and the type(s) and price(s) of the drink(s) they drink during those visits.

In [16]:
'''
query= """
"""

execute_query(query)
'''

'\nquery= """\n"""\n\nexecute_query(query)\n'

### Making sure we close off the connection

In [17]:
cur.close()