# Test Database Connections

Connect using default socket, list databases:

In [1]:
import psycopg2

conn = psycopg2.connect("dbname='postgres'")
cur = conn.cursor()
cur.execute("SELECT datname from pg_database")

cur.fetchall()

[('postgres',), ('testdb',), ('template1',), ('template0',)]

# Test Magic and Example Test User / DB

In [2]:
%load_ext sql

We should be able to use user access to get into the db without any need for authentication:

In [3]:
%sql postgresql:///postgres

%sql SELECT datname from pg_database;

 * postgresql:///postgres
4 rows affected.

[('postgres',), ('testdb',), ('template1',), ('template0',)]

We should also be able to log in as `testuser`, as created during the `postBuild` phase:

In [5]:
%sql postgresql://testuser:testpass@localhost:5432/testdb

'Connected: testuser@testdb'

In [6]:
%sql SELECT * FROM quickdemo;

   postgresql:///postgres
 * postgresql://testuser:***@localhost/testdb
2 rows affected.

[(1, 'This', 12), (2, 'That', 345)]

In [8]:
%%sql DROP TABLE IF EXISTS quickdemo2 CASCADE;
CREATE TABLE quickdemo2(id INT, name VARCHAR(20), value INT);
INSERT INTO quickdemo2 VALUES(1,'This',12);
INSERT INTO quickdemo2 VALUES(2,'That',345);

Done.
Done.
1 rows affected.
1 rows affected.

[]

In [9]:
%sql SELECT * FROM quickdemo2;

 * postgresql://testuser:***@localhost/testdb
2 rows affected.

[(1, 'This', 12), (2, 'That', 345)]

In [10]:
%sql DROP TABLE IF EXISTS quickdemo2 CASCADE;

 * postgresql://testuser:***@localhost/testdb
Done.

[]